.container {
  width: 100%;
  height: 8vh;
  display: flex;
  background-color: green;
  font-family: "system-ui";
  justify-content: space-around;
  align-items: center;
}
.left {
  background-color: red;
}
.left-ul {
  display: flex;
}
